.download-offer-letter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .download-icon {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  
  .download-text {
    font-size: 2rem;
    font-weight: bold;
  }
  