.mentor-homepage-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
  }
  
  .mentor-homepage-heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .trainees-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .trainee-item {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc((100% - 30px) / 4); /* 4 trainees per row */
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .trainee-item:hover {
    background-color: #ddd;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: inline-flex;
    list-style: none;
    border-radius: 4px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .page-item {
    margin: 0;
  }
  
  .page-link {
    display: inline-block;
    text-align: center;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px 12px;
    transition: all 0.2s;
  }
  
  .page-link:hover {
    color: #0056b3;
    background-color: #f2f2f2;
  }
  
  .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
  }
  
  .page-link[disabled] {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #ddd;
  }
  
  .active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  @media screen and (max-width: 767px) {
    .trainee-item {
      width: calc((100% - 20px) / 2); /* 2 trainees per row */
    }
  }
  